@tailwind base;
@tailwind components;
@tailwind utilities;



 

@font-face {
	font-family: 'UnitedSansSmCdBd';
	src: url('UnitedSansSmCdBd.woff2') format('woff2'); /* Adjust the path as needed */
	font-weight: normal; /* Adjust as needed */
	font-style: normal; /* Adjust as needed */
  }
  
  

  @layer base {
	:root {
	  --background: 0 0% 100%;
	  --foreground: 222.2 84% 4.9%;
	  --card: 0 0% 100%;
	  --card-foreground: 222.2 84% 4.9%;
	  --popover: 0 0% 100%;
	  --popover-foreground: 222.2 84% 4.9%;
	  --primary: 221.2 83.2% 53.3%;
	  --primary-foreground: 210 40% 98%;
	  --secondary: 210 40% 96.1%;
	  --secondary-foreground: 222.2 47.4% 11.2%;
	  --muted: 210 40% 96.1%;
	  --muted-foreground: 215.4 16.3% 46.9%;
	  --accent: 210 40% 96.1%;
	  --accent-foreground: 222.2 47.4% 11.2%;
	  --destructive: 0 84.2% 60.2%;
	  --destructive-foreground: 210 40% 98%;
	  --border: 214.3 31.8% 91.4%;
	  --input: 214.3 31.8% 91.4%;
	  --ring: 221.2 83.2% 53.3%;
	  --radius: 0.3rem;
	}
  
	.dark {
	  --background: 222.2 84% 4.9%;
	  --foreground: 210 40% 98%;
	  --card: 222.2 84% 4.9%;
	  --card-foreground: 210 40% 98%;
	  --popover: 222.2 84% 4.9%;
	  --popover-foreground: 210 40% 98%;
	  --primary: 217.2 91.2% 59.8%;
	  --primary-foreground: 222.2 47.4% 11.2%;
	  --secondary: 217.2 32.6% 17.5%;
	  --secondary-foreground: 210 40% 98%;
	  --muted: 217.2 32.6% 17.5%;
	  --muted-foreground: 215 20.2% 65.1%;
	  --accent: 217.2 32.6% 17.5%;
	  --accent-foreground: 210 40% 98%;
	  --destructive: 0 62.8% 30.6%;
	  --destructive-foreground: 210 40% 98%;
	  --border: 217.2 32.6% 17.5%;
	  --input: 217.2 32.6% 17.5%;
	  --ring: 224.3 76.3% 48%;
	}
  }
  



@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.glowBox {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}

.uppy-Dashboard-inner {
	width: auto !important;
	height: 25rem !important;
}

html {
	/* scrollbar-color: bg- transparent; */
	overflow: visible;
	z-index: 1000;
  }

  .table-container {
	position: relative;
  }
  
  .table-container::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	pointer-events: none;
  }

  /* styles.css */
.DialogOverlay {
	background: rgba(0 0 0 / 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-items: center;
	overflow-y: auto;
  }
  
  .DialogContent {
	min-width: 300px;
	background: white;
	padding: 30px;
	border-radius: 4px;
  }

  
  /* styles.css */

/* .video-player {
	width: 640px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  .video-container {
	position: relative;
	width: 100%;
	/* padding-bottom: 56.25%; 16:9 aspect ratio */
	/* For 4:5 aspect ratio, use padding-bottom: 125%; */
	background-color: black; /* Optional: to show black bars for non-16:9 videos */
  }
  
  .video-player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensures the video fits within the container */
  }

  
  .skeleton {
	padding: 20px;
  }
  
  .skeleton-player {
	width: 100%;
	height: 360px;
	background-color: #f0f0f0;
	border-radius: 4px;
	animation: pulse 2s infinite;
  }
  
  .skeleton-controls {
	display: flex;
	align-items: center;
	margin-top: 16px;
  }
  
  .skeleton-play-button {
	width: 40px;
	height: 40px;
	background-color: #f0f0f0;
	border-radius: 50%;
	animation: pulse 2s infinite;
  }
  
  .skeleton-progress-bar {
	flex-grow: 1;
	height: 6px;
	background-color: #e0e0e0;
	border-radius: 3px;
	margin: 0 16px;
	overflow: hidden;
  }
  
  .skeleton-progress {
	width: 30%;
	height: 100%;
	background-color: #c0c0c0;
	animation: progress 2s infinite;
  }
  
  .skeleton-volume-control {
	display: flex;
	align-items: center;
  }
  
  .skeleton-volume-icon {
	width: 24px;
	height: 24px;
	background-color: #f0f0f0;
	border-radius: 50%;
	animation: pulse 2s infinite;
  }
  
  .skeleton-volume-bar {
	width: 80px;
	height: 6px;
	background-color: #e0e0e0;
	border-radius: 3px;
	margin-left: 8px;
	overflow: hidden;
  }
  
  .placeholder {
	padding: 20px;
	text-align: center;
	color: #888;
  }
  
  @keyframes pulse {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes progress {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
  }
  
  
main {
		overflow: hidden;

}

